body,a,h1,h2,p,span{
    margin: 0;
    padding: 0;
}

a,h2,h1,p,span,h3,button{
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-decoration: none;
}

#navbar{
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    top: 0;
    height: 60px;
    background: white;
    border: solid 0.5px #EFEFEF;
}

#navbar button{
    cursor: pointer;
    font-weight: 600;
    color: #8E8E8E;
    padding: 0.8rem;
    border: none;
    border-radius: 2rem;
    background: transparent;
}

#navbar #active{
    color: black;
}

#navbar button:hover{
    background: #EFEFEF;
}

.menu-icon{
    height: 1.5rem;
}

.menu-icon:hover{
    background: #EFEFEF;
    background-size: 3rem;
}
#logo{
    height: 2.5rem;
}

#search{
    width: 650px;
    height: 2rem;
    background-color: #EFEFEF;
    border: none;
    border-radius: 8px;
    padding-left: 2rem;
}

#search::placeholder{
    padding: 0;
    font-size: 1.2em;
    font-weight: 700;
}

#grid{
    margin-top: 4rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minMax(230px, 230px));
    grid-gap: 20px;
    padding: 2rem;
    grid-auto-rows: 250px;
    /*Auto-fit: expande o tamanho do item pra preencher o container
      Auto-fill: não expande o tamanho minimo do item, mas possui os mesmos comportamentos de adaptação do auto-fit*/
}

.grid-item img{
    border-radius: 20px;
    height: 100%;
    width: 100%;
}

.card-tall{
    grid-row:  span 2 / auto;
}

@media (max-width: 600px){
    
    #grid{
        grid-gap: 10px;
        padding: 1rem;
    }
}