body,a,h1,h2,p,span,main,div{
    margin: 0;
    padding: 0;
}

a,h2,h1,p,span,h3,button{
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-decoration: none;
}

#navbar{
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    top: 0;
    height: 60px;
    background: white;
    border: solid 0.5px #EFEFEF;
}

#navbar button{
    cursor: pointer;
    font-weight: 600;
    color: #8E8E8E;
    padding: 0.8rem;
    border: none;
    border-radius: 2rem;
    background: transparent;
}

#navbar .active{
    color: black;
}

#navbar button:hover{
    v
}

.menu-icon{
    height: 1.5rem;
}


#logo{
    height: 2.5rem;
}

#search{
    width: 650px;
    height: 2rem;
    background-color: #EFEFEF;
    border: none;
    border-radius: 8px;
    padding-left: 2rem;
}

.search-icon{
    height: 1.2rem;
    position: absolute;
    margin: 0;
    padding: 7px;
    border: none;
}

.search-icon:hover{
    background: none;
}

#search::placeholder{
    padding-left: 20px;
    font-size: 1.2em;
    font-weight: 700;
}

#grid{
    margin: auto;
    margin-top: 4rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minMax(230px, 230px));
    grid-gap: 20px;
    padding: 2rem;
    grid-auto-rows: 250px;
    /*Auto-fit: expande o tamanho do item pra preencher o container
      Auto-fill: não expande o tamanho minimo do item, mas possui os mesmos comportamentos de adaptação do auto-fit*/
}

.grid-item img{
    border-radius: 20px;
    height: 100%;
    width: 100%;
}


.btn-card{
    border: none;
    cursor: pointer;
    font-weight: 600;
    color: #8E8E8E;
    padding: 0.6rem;
    border-radius: 2rem;
    background: #EFEFEF;
    height: 2.5rem;
}

.card-tall{
    grid-row:  span 2 / auto;
}

#options{
    position: absolute;
    bottom: 20%;
    display: flex;
    justify-content: space-evenly;
}

.grid-item #options a{
    color: black;
    font-weight: 700;
    font-size: 0.8rem;

}

.grid-item #options button{
    
}

.grid-item #options{
    display: none;
}

.grid-item:hover #options{
    display: block;
}


@media (max-width: 600px){
    
    #grid{
        grid-gap: 10px;
        padding: 1rem;
        grid-template-columns: repeat(auto-fit, minMax(170px, 220px));
        grid-auto-rows: 190px;
    }

    #navbar button{
        padding: 0.4rem;
    }
    
    #search{
        display: none;
    }

    .search-icon{
        height: 1.5rem;
        position: relative;
        margin: 0;
        padding: 0;
        border: none;
    }
    
   
    #navbar .active{
        display: none;
    }    
    #navbar{
        width: 100%;
        margin: 0 auto;
    }

}